#input_area
{
    border:1px dashed black;
    padding:2px;
    background-color:white;
}
#output_area
{
    background-color:white;
    height:110px;
    padding: 2px;
}

#output
{
	width:100%;
	height:100%;
	overflow:auto;
}

body,html
{
	margin:0px;
	padding:0px;
}
