body { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 12px; color: #000000; background-color: #FFFFFF; }
img { border: 0px; }
.caption { text-align: right; }
#authList, #keyList { width: 240px; font-size: 0.8em; }
.tabsRow { height: 28px; background-image: url('images/tabsBackground.gif'); background-repeat: repeat-x; vertical-align: middle; }
#tab1, #tab2, #tab3, #tab4 { width: 115px; height: 28px; font-size: 12px; border: 0; float: left; padding: 0; margin: 0 12px; cursor: pointer; text-align: center; }
#opt1, #opt2, #opt3, #opt4 { margin: 12px 0; }
.activeTab { color: #EC1C24; background-image: url('images/activeTab.gif'); background-position: top; }
.blurTab { color: #999999; background-image: url('images/blurTab.gif'); background-position: top; }
.activeBlock { display: inline; }
.blurBlock { display: none; }
input, select { border: 1px solid #EC1C24; background-color: white; border-collapse: collapse; margin: 2px; }
input[type="image"] { border: 0; margin: 2px; }
input[type="checkbox"] { border: 0; margin: 2px; }
input[type="select"] { border: 1px solid #EC1C24; border-collapse: collapse; margin: 2px; }
/* table */
table.list { background-color: #E7E6CE; border: 2px solid #A4A400; font-size: 90%; }
table.list th { border-bottom: 1px solid #A4A400; padding: 4px; }
table.list td { padding: 4px; }
tr.oddrow  { background-color: #E7E6CE; }
tr.evenrow { background-color: #FFFFFF; }
tr.editrow { background-color: #FFD0D0; }
td.center { text-align: center; }